.projects {
    min-height: 100vh;
    background-color: #b90eff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.allWorks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.projects h2 {
    font-size: 50px;
}

.myProjects {
    height: 200px;
}