.projects {
    min-height: 100vh;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.allWorks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.myProjects {
    height: 200px;
}
.line {
    background: #e9548d;
    height: 1px;
    width: 140px;
    margin: 0 auto;
}
.head span {
    color: #ea548d;;
}