.work {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 400px;
    margin: 50px 10px;
    background: no-repeat center / cover;
}

@media screen and (max-width: 650px) {
    .work {
        max-width: 300px;
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .work {
        max-width: 250px;
        width: 100%;
        height: 250px;

    }
}

.drop {
    opacity: 0.8;
    background-color: #212529;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
}

.work:hover .drop {
    display: block;
}

.dropItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 450px) {
    .drop {
        opacity: 0.8;
        background-color: #212529;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 30px;
        font-weight: bold;
        color: #ea548d;
    }


}
