.slogan {
    min-height: 40vh;
    background-color: #12151a;
    display: flex;
    justify-content: center;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

@media screen and (max-width: 600px) {
    .slogan h2 {
        font-size: 25px;
    }
    .slogan button {
        margin-bottom: 20px;
    }
}
