.main {
    min-height: 100vh;
    width: 100%;
    /*background: url("../../bac.png") no-repeat center / cover;*/
    background: url("../../vacground.jpg") no-repeat center / cover;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    position: relative
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.greeting {
    display: flex;
    flex-direction: column;
}

.greeting span:nth-child(1) {
    font-size: 25px;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
    z-index: 0;
}

.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 260px;
    height: 20px;
    bottom: 0;
    left: 20px;
    background-color: #ea548d;
    z-index: -1;
}

h1 {
    font-size: 30px;
    font-weight: 400;
}

/*.photo {*/
/*    margin-top: 50px;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/



.image {
    width: 580px;
    height: 760px;
    background: url("../../4564.png") no-repeat center / cover;
    margin: 0   auto;
    align-items: center;
}

/*.photo .image:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    height: 430px;*/
/*    max-width: 300px;*/
/*    width: 100%;*/
/*    border: 5px solid #ea548d;*/
/*    left: 15px;*/
/*    top: -20px;*/
/*    z-index: -1;*/
/*}*/


@media screen and (max-width: 790px) {
    .greeting span:nth-child(2) span:before {
        content: "";
        position: absolute;
        width: 260px;
        height: 20px;
        bottom: 0;
        left: -330px;
        background-color: #ea548d;
        z-index: -1;
    }
    .image {
        width: 400px;
        height: 500px;
    }

}


@media screen and (max-width: 456px) {
    .greeting span:nth-child(1) {
        font-size: 15px;
    }
    .greeting span:nth-child(2),
    .greeting span:nth-child(2) span {
        font-size: 30px;
    }
    h1 {
        font-size: 18px;
    }
    .greeting span:nth-child(2) span:before {
        content: "";
        position: absolute;
        width: 160px;
        height: 13px;
        bottom: 0;
        left: -210px;
        background-color: #ea548d;
        z-index: -1;
    }
    .image {
        width: 300px;
        height: 400px;
    }
}

