.skills {
    min-height: 100vh;
    width: 100%;
    background-color: #12151a;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative
}

.container {
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.mySkills {
    height: 200px;
}

.allSkil {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.line {
    background: #e9548d;
    height: 1px;
    width: 100px;
    margin: 0 auto;
}

.head span {
    color: #ea548d;;
}
