.skills {
    min-height: 100vh;
    width: 100%;
    background-color: #252527;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    border: 1px solid;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.mySkills {
    height: 200px;
}

.allSkil {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.mySkills h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: capitalize;
}

.line {
    background: #e9548d;
    height: 2px;
    width: 100px;
    margin: 0 auto;
}