.skills {
    height: 100vh;
    background-color: #21ff11;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.allSkil {
    display: flex;
    justify-content: space-between;

}
