.footer {
    height: 300px;
    background-color: #1127ff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    background: chocolate;
    margin-left: 5px;
}