.footer {
    min-height: 5vh;
    width: 100%;
    background-color: #12151a;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.items {
    display: flex;
}

.item {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
}

