.footer {
    min-height: 30vh;
    width: 100%;
    background-color: #252527;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer h3 {
    letter-spacing: 3px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.item {
    margin-right: 10px;
}