.footer {
    min-height: 30vh;
    width: 100%;
    background-color: #1127ff;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
