html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 1.8;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

