
.skil {
    display: flex;
    flex-direction: column;

    align-items: center;
    min-width: 250px;
    width: 25%;
    height: 400px;

}


.skil img {
    width: 150px;
}

.skil h3 {
    font-size: 20px;

}

.skilBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #212529;
    transform: rotate(45deg);

}
