.contacts {
    min-height: 80vh;
    background: url("../../assets/bacground-images/contacts.jpg") no-repeat center / cover;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative
}

.container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    display: flex;

}

.contactMain {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contactMainElement h3 {
    font-size: 28px;
    color: #ea548d;
}

.contactMainElement {
    text-align: left;
}

.formatAreaElement {
    display: flex;
    justify-content: space-between;

}
.formatAreaElement input {
    width: 48%;
}

.formatArea {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.formatArea button {
    margin-top: 20px;
    margin-left: 0;
}

.formatArea input {
    background-color: #252527;
    margin: 5px 0;
    border: 1px solid #4a4a4a;
    height: 40px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    color: #fff;
}

.formatArea textarea {
    margin: 5px 0;
    min-height: 170px;
    background-color: #252527;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4a4a4a;
    outline: none;
    color: #fff;
}

.formatArea textarea:focus {
    border: none;
}
.formatArea input:focus {
    border: none;
}


@media screen and (max-width: 600px) {
    .formatArea {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .formatArea button {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .contactMainElement {
        text-align: left;
        width: 100%;
    }
    .contacts h2 {
        font-size: 30px;
    }
    .formatAreaElement {
        flex-wrap: wrap;
    }
    .formatAreaElement input {
        width: 100%;

    }
}