.contacts {
    height: 80vh;
    background-color: #ff847f ;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    border: 1px solid;
    width: 80%;

}

.contacts button {
    padding: 1.5%;
    max-width: 100px;
    width: 100%;
}

textarea {
    margin:0 0 100px;;
    max-width: 500px;
    width: 100%;
    border: 0px;
}


input {
    margin:0 0 10px;
    max-width: 500px;
    width: 100%;
    border: 0px;
}